<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="7d638481-81ff-4c0b-a780-07c79100cf16"
    Publisher="CN=Rodrigo Appelt"
    Version="1.2.16.0" />

  <mp:PhoneIdentity PhoneProductId="7d638481-81ff-4c0b-a780-07c79100cf16" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Ficha</DisplayName>
    <PublisherDisplayName>Rodrigo</PublisherDisplayName>
    <Logo>Assets\ficha-icone2-logotipopacote.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Ficha.App">
      <uap:VisualElements
        DisplayName="Ficha"
        Description="Ficha"
        BackgroundColor="transparent" Square150x150Logo="Assets\ficha-icone2-blocomedio.png" Square44x44Logo="Assets\ficha-icone2-iconeaplicativo.png">
        <uap:DefaultTile  >
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>